name: Build and Push Microservices Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - frontend
          - adservice
          - cartservice
          - checkoutservice
          - currencyservice
          - emailservice
          - paymentservice
          - productcatalogservice
          - recommendationservice
          - shippingservice
          - shoppingassistantservice

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set image tag
        run: |
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          DOCKERFILE_PATH="./src/${{ matrix.service }}/Dockerfile"

          if [ ! -f "$DOCKERFILE_PATH" ]; then
            DOCKERFILE_PATH="./src/${{ matrix.service }}/src/Dockerfile"
          fi

          docker build \
            -f $DOCKERFILE_PATH \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:${{ env.SHORT_SHA }} \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest \
            ./src/${{ matrix.service }}

