name: Build and Push Microservices Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - frontend
          - adservice
          - cartservice
          - checkoutservice
          - currencyservice
          - emailservice
          - paymentservice
          - productcatalogservice
          - recommendationservice
          - shippingservice
          - shoppingassistantservice

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set image tag
        run: |
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          SERVICE="${{ matrix.service }}"
          DOCKERFILE="./src/$SERVICE/Dockerfile"
          CONTEXT="./src/$SERVICE"

          # .NET services need src/ as build context
          if [[ "$SERVICE" =~ ^(cartservice|checkoutservice|paymentservice|shippingservice|emailservice)$ ]]; then
            CONTEXT="./src/$SERVICE/src"
          fi

          docker build \
            -f $DOCKERFILE \
            -t ${{ secrets.DOCKER_USERNAME }}/$SERVICE:${{ env.SHORT_SHA }} \
            -t ${{ secrets.DOCKER_USERNAME }}/$SERVICE:latest \
            $CONTEXT
